# Python
python_backend/venv/
__pycache__/
*.pyc

# Flutter
labvoice/build/
labvoice/.dart_tool/
labvoice/.flutter-plugins
labvoice/.flutter-plugins-dependencies

# macOS
.DS_Store

# VS Code
.vscode/

# Environment
.env
.env.save
